@import '../../assets/mixins';
.featured{
    background-color: #2A3042;
    padding: 10px 0;
    color: #ffffff;

    &__body{
        max-width: 86.9rem;
        margin: auto;

        @include respond (tablet) {
            max-width: none;
            padding: 0rem 2rem;
        }
    }

    &__title{
        margin: 20px 0px;
        height: 2.7rem;
        padding-left: 10px;
        text-transform: uppercase;
        border-left: .6rem solid #2F65FF;
        
        
        color: #ffffff;
        letter-spacing: 1px;
        word-spacing: 6px;
        font-size: 2rem;

        display: flex;
        align-items: center;
        text-align: center;

        @include respond (phone){

        }
    }

    &__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 20px 0px;
        gap: 4rem;
        @include respond (tablet) {
            gap: 2rem;
        }
        @include respond (phone) {
            justify-content: space-evenly;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        align-items: center;
        width: 14.2rem;
        border-radius: 1.6rem;
        padding: 1.5rem 0rem;
        transition: all .2s;
        
        
        background-color: #222736;
        cursor: pointer;



        &:hover{
            transform: scale(1.1);
        }
        &:hover h3{
            color: #2F65FF;
        }

        &--image{
            width: 10rem;
            height: 10rem;
            border-radius: 1.6rem;
            margin-bottom: 0.6rem;


        }

        h3{
            color: white;
            font-size: 1.6rem;
            font-weight: 600;


        }

        &--rating{
            font-size: 1.6rem;
            color: #707070;
            font-weight: 900;
            display: flex;
            align-items: center;

            &--image{
                width:1.6rem;
                height: 1.6rem;


            }
            span{
                margin-left: .6rem;
            }
        }
    }
}