@import '../../assets/mixins';
.featured{
    background-color: #2A3042;
    padding: 10px 0;
    color: #ffffff;

    &__body{
        max-width: 70rem;
        margin: auto;
    }

    &__title{
        margin: 20px 0px;
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 10px;
        border-left: 3px solid #2F65FF;
        letter-spacing: 1px;
        word-spacing: 6px;
    }

    &__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 20px 0px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 12rem;
        border-radius: 10px;
        padding: 10px;
        transition: all .2s;
        
        background-color: #222736;
        cursor: pointer;
        @include respond (tablet) {
            width: 15rem;
        }
        &:hover{
            transform: scale(1.1);
        }
        &:hover h3{
            color: #2F65FF;
        }

        &--image{
            width: 8rem;
            height: 8rem;
            border-radius: 10px;
            margin-bottom: 1rem;
            @include respond (tablet) {
                width: 11rem;
                height: 11rem;
            }
        }
        h3{
            color: white;
            font-size: 1.3rem;
            margin-bottom: 1rem;
            @include respond (small-phone) {
                font-size: 1rem;
            }
            @include respond (very-small-phone) {
                font-size: .8rem;
            }
            @include respond (tablet) {
                font-size: 1.6rem;
            }
        }
        &--rating{
            font-size: 1.2rem;
            color: #707070;
            font-weight: 400;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            &--image{
                width:1.6rem;
                height: 1.6rem;
                @include respond (tablet) {
                    width: 2rem;
                    height: 2rem;
                }
            }
            span{
                margin-left: .4rem;
                font-weight: bold;
                @include respond (tablet){
                    margin-left: .8rem;
                    font-size: 1.6rem;
                } 
            }

        }
    }
}