.header{
    padding: 15px 40px;
    background-color: #2F65FF;
    color: #ffffff;

    &__container{
        display: flex;
        align-items: center;
        flex-direction: column;

        svg{
            width: 7.4rem;
            height: 8.8rem;
        }

        h1{
            font-size: 4rem;
            font-weight: 800;
        }

        p{
            font-size: 1.6rem;
            font-weight: 400;
            text-align: center;
            
        }
    }
    
}
.logo{
    fill: #1E41A6 !important;
}