@import '../../assets/mixins';

.apps{
    background-color: #222736;
    color: #fff;

    &__body{
        max-width: 90.9rem;
        margin: auto;
        @include respond (tablet) {
            max-width: none;
            padding: 0rem 2rem;
        }
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem 0px;

        &__title{
            height: 2.7rem;
            padding-left: 10px;
            text-transform: uppercase;
            border-left: .6rem solid #2F65FF;


            color: #ffffff;
            letter-spacing: 1px;
            word-spacing: 6px;
            font-size: 2rem;

            display: flex;
            align-items: center;
            @include respond (tablet-port) {
                font-size: 1.8rem;
            }
        }
    }
    &__main{
        height: 50vh;
        background-color: #202534;
        padding: 1.6rem;
        border-radius: 4.5rem;
        overflow-y: overlay;

        &::-webkit-scrollbar {
            display: none;
        }

        @include respond (phone-big){
            padding: 0rem;
            border-radius: 0rem;
        }

        &__items{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @include respond (tablet){
                justify-content: center;
            }
        }
        &__item{
            cursor: pointer;
            padding: 1.5rem 3rem;
            width: 42.4rem;
            height: 11.4rem;
            background-color: #2A3042;
            border-radius: 1.5rem;
            display: flex;
            justify-content: space-between;
            transition: all .2s;
            margin-bottom: 2rem;


            @include respond (tablet){
                width: 50.4rem;
                padding: 1.5rem 4rem;
            }

            @include respond (tablet-port) {
                padding: 1.5rem 2rem;
            }

            &:hover{
                transform: scale(1.02);
            }
            &:hover &--details--info--title{
                color: #2F65FF;
            }

            &--image{
                width: 8.5rem;
                height: 8.5rem;
                border-radius: 1.6rem;



            }

            &--details{
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &--author{
                    color: #8F98B5;
                    font-size: 1.4rem;
                    font-weight: 100;

                    &--blue{
                        color: #2F65FF;
                    }
                    @include respond (desktop){
                        font-size: 1.2rem;
                    }

                }

                &--info{
                    display: flex;
                    align-items: center;
                    &--title{
                        font-size: 2rem;
                        font-weight: 600;
                        letter-spacing: 0.1rem;
                        color: #fff;
                        margin-right: 1.3rem;
                        border-right: 1px solid #1E2331;
                        padding-right: 1.3rem;
                        transition: all .2s;
                        @include respond (desktop){
                            font-size: 1.8rem;
                        }

                    }
                }  

                &--paragraph{
                    color: #8F98B5;
                    font-size: 1.6rem;
                    font-weight: 100;
                    @include respond (desktop){
                        font-size: 1.4rem;
                    }
                }
            }
            &--icons{
                display: flex;

                &-apple{
                    width: 1.6rem;
                    height: 1.8rem;

                }
                &-android{
                    width: 1.6rem;
                    height: 1.8rem;

                }
            }
        }
    }

}

